

body  {
    background-color: #21242b;
} 



 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #2d3037;
    position: fixed;
    top: 0px;
    width: 99%;
    border-radius: 15px;
}

li {float: left;}

li a {
    display: block;
    color: #ef6831;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 0px;  
}

li a:hover {
    background-color: #21242b;
    color: white;
}

input {
    float: right;
    margin-top: 11px;
    margin-right: 10px;
    background-color: #21242b;
    border-radius: 5px;
    border: none;
    padding: 5px 5px 5px 5px;
    color: #ef6831;
    
}

.active {
    background-color: black;
    color: white;
}

.header {
    color: #ef6831;
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

.midtxt {
   text-align: center;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: white;
   cursor: pointer;
}


    
    .footer{
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       height: 7%;
       background-color: #2d3037;
       color: #ef6831;
       text-align: center;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;
    }

    .steam {
        border: #2d3037 5px;
        padding: 10px;
        background-color: #2d3037;
        color: #ef6831;
        text-decoration: none;
        border-radius: 10px;
        margin-bottom: 50px;
    }

  .youtube {
      border-radius: 15px;
  }
    
  .logo {    
    margin-top: 0;
}

.Mail {

 
    color: #ef6831;
    


}
   
